

#main{
    display:block;
    width: 40%;
    margin: auto;
    
    padding-top: 150px;
    }
    
    #main2{
      width: 100%;
      margin-left: 200;
    
      padding-top: 150px;
      }
    
    #main h1{
      margin-left: 20px;
    
      color: rgba(255, 255, 255, 0.664);
      text-shadow: 1px 1px 30px currentColor;
    
      margin-top: 60px;
    }
    
    
    
    
    
    
    
    
    
    /* -====   premiere movie cards   =============- */
    
    
    
    #main .carouselExampleIndicators{
      height: 300px;
      width: 40%;
      object-fit: contain;
      display: flex;
      justify-content: space-around;
      align-items: center;
    
    
    }
    
    #main .carousel-item {
      width: 100%;
      height: 100%; /* example */
      
    
    }
    
    #main .carousel-item img {
      width:400px;
      height:360px;
    }
    
    
    
    
    
    
    
    
    
    /** -----actionmovies movies   ========--------------*/
    
    #actionmovies {
    margin-top: 130px;
    
    }
    
    #actionmovies h1{
    
      margin-left: 20px;
      color: rgb(219, 4, 4);
      text-shadow: 1px 1px 30px currentColor;  margin-top: 40px;
    }
    
    
    
    
    
    
    
    
    
    
    /** -----comedy ==== movies ====--------------*/
    
    
    #comedy {
      margin-top: 130px;
    
    }
    
    
    #comedy h1{
      margin-left: 20px;
    
      color: rgb(211, 0, 0);
      text-shadow: 1px 1px 30px currentColor;
    
      margin-top: 60px;
    }
    
    #title{
      margin-left: 20px;
    
      color: rgb(211, 0, 0);
      text-shadow: 1px 1px 30px currentColor;
    
      margin-top: 60px;
    }
    
    
    
    
    
    
    
    /* cards upcomign movies */
    #upcoming {
      margin-top: 130px;
    
    
      text-align: center;
      margin-top: 80px;
    }
    
    #upcoming h1{
      color: rgb(255, 255, 255);
    
    }
    
    .controls-top{
      display: flex;
      height: 100px;
      width: 100%;
      align-items: center;
      justify-content: center;
      
    
    }
    
    .btn-floating{
      margin: auto;
      height: 70px;
      width:50%;
    
    }
    
    .card{
      color: rgb(255, 255, 255);
      background-color: rgba(255, 0, 0, 0.068);
    }

    #nexts {
        
      margin-left: 500px ;
      
    }
    
    @media screen and (max-width: 770px) {
   

      .carouselExampleIndicators{
        widows: 100%;
      }


      #nexts {
        
        display: block;
        
      }
  
    }