
<div>
<!--navigation-->
<nav>
    <!---logo--->
    <a  routerLink=""  class="logo">
        <img src="./assets/logo6.png" >
    </a>
    <!---search--->
    <div class="search">
        <input #searchinput type="text" placeholder="Find your movie" size="60" (input)="SearchLikeMovie(searchinput.value)" >
        <div *ngFor="let movieDb of  moviesDbs" >
            {{movieDb.title}}
            
            </div>
            
        <button aria-expanded="false" type="submit"><i class="fa fa-search "></i></button>
    </div>
    <!----Suggest----->
    <div>
        <a   routerLink="/suggetion" routerLinkActive="active" style="text-decoration: none ;color: inherit"><button id="suggest" type="button"
                class="btn btn-dark">Suggest The Best</button></a>
    </div>
    <!----log----->
    <ng-container *ngIf="!userLoggedIn">
    <form>
        <div   class="search"> 
        <input  #username type="text" placeholder="username" id="username" name="username">
        <input  #password type="password" placeholder="password" id="password" name="password">
         </div>
    </form>
    <button  id="loginbutton" aria-expanded="false" type="button" class="btn btn-dark" (click)="logIn($event,username.value,password.value)">login</button>
    </ng-container>
    
    <ng-container *ngIf="userLoggedIn">
    <a class="nav-link dropdown-toggle"  id="log" role="button" data-toggle="dropdown" aria-haspopup="true"  type="button">
        {{username}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a id="droped" class="dropdown-item" >Profile Account</a>
        <a id="droped" class="dropdown-item"  routerLink="/watchedliste" routerLinkActive="active">My watched list</a>
        <div class="dropdown-divider"></div>
        <a id="logout" class="dropdown-item" (click)="logOut($event)">Log Out</a>
    </div>
</ng-container>
</nav>
</div>